<template name="boards">
  {{#unless currentUser}}
    <h1>SIGN IN PLEASE</h1>
  {{else}}
    <div id="lists">
      {{> highPriorityBoard boards=boards}}
      <div class="list layer tile cols new-board-container head">
        <div class="new-board-wrapper" title="Create new board" data-side="left">
          <div class="toggle-list edit-board-title">
            <i class="fa fa-plus new-board-sign"></i>
          </div>
        </div>
      </div>
      {{#each boards}}
        {{> _boardItem}}
      {{/each}}
      <div class="list layer tile cols new-board-container">
        <div class="new-board-wrapper tail" title="Create new board" data-side="right">
          <div class="toggle-list edit-board-title">
            <i class="fa fa-plus new-board-sign"></i>
          </div>
        </div>
      </div>
      {{> backlog backlogBoard}}
    </div>
  {{/unless}}
</template>