.list {
  width: 300px;
  min-width: 300px;
  border: 2px solid;
  border-radius: 5px;
  margin-right: 10px;
  padding-bottom: 5px;
  position: relative;
}

.tile__list {
  min-height: 5px;
}

.new-board-action {
  max-height: 50px;
  height: 50px;
  padding: 15px;
  cursor: pointer;
}

.creator {
  height: 50px;
  min-height: 50px;
  padding: 10px;
  background: aliceblue;
}

.list * {
  border-color: inherit;
}

/*.list > div:last-child {
  border-color: transparent !important;
}*/

.new-board-container, .new-task-container {
  cursor: pointer !important;
}

.row.action textarea {
  resize: vertical !important;
  margin-bottom: 5px !important;
  border: 1px solid #cecece;
}

.new-task-container * {
  color: #777;
}

.new-task-container:hover * {
  color: #111;
}