<template name="boards">
    {{#unless currentUser}}
        <h1>SIGN IN PLEASE</h1>
    {{else}}
        <div id="lists">
            {{> highPriorityBoard boards=boards}}
            <div class="list layer tile cols new-board-container first" data-creating={{boardCreating}}>
                <div class="new-board-wrapper">
                    <div class="toggle-list edit-board-title">
                        <i class="fa fa-plus new-board-sign"></i>
                        <br><br>
                       <!--  <span class="button new-board-action list-title">NEW BOARD</span> -->
                    </div>
                </div>
            </div>
            {{#each boards}}
                {{> _boardItem}}
            {{/each}}
            <div class="list layer tile cols new-board-container" data-creating={{boardCreating}}>
                {{#if boardCreating}}
                    <div class="input-group board-title-editor">
                        <input class="board-title form-control" type="text" value="{{title}}" placeholder="Enter board name here">

                        <div class="save-cancel-box action-box ctrl-box">
                            <span class="button new-board-ok-action btn btn-sm btn-primary">Save</span>
                            <span class="button new-board-cancel-action text-danger btn btn-sm btn-danger">Cancel</span>
                        </div>
                    </div>
                {{else}}
                    <div class="new-board-wrapper last">
                        <div class="toggle-list edit-board-title">
                            <i class="fa fa-plus new-board-sign"></i>
                            <br><br>
                           <!--  <span class="button new-board-action list-title">NEW BOARD</span> -->
                        </div>
                    </div>
                {{/if}}
            </div>
            {{> backlog backlogBoard=backlogBoard}}
        </div>
    {{/unless}}
</template>