div#lists {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /*overflow-x: auto;*/
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0,0,0);
  height: calc(100vh*0.9);
  min-height: calc(100vh*0.9);
  max-height: calc(100vh*0.9);
  display: inline-flex;
  width: 100%;
  border-spacing: 5px 0px;
  margin: 0;
}

#lists > div {
  display: flex;
}

/*.list.board {
  max-height: 85vh;
  display: flex;
}
*/

.list.board > .container {
  /*overflow-y: scroll;*/
  margin-top: 40px;
}

.list.layer.tile.cols.new-board-container {
  height: 40px;
  width: 298px;
  border-radius: 5px;
  background-color: #EEEEEE;
  border-bottom: 2px solid #AEAEAE;
  font-size: 20px;
  padding: 5px;
  color: #626262;
  line-height: 30px;
  margin: 0 5px;
}

/*.list.layer.tile.cols.new-board-container[data-creating="true"] {
  color: #888;
  padding: 10px 10px 30px 10px;
  border: 2px dashed #D0D0D0;
  position: relative;
  min-height: 100px;
  height: initial;
}

.list.layer.tile.cols.new-board-container[data-creating="true"]:hover {
  color: #555;
  border-color: #888;
}*/

.list.layer.tile.cols.new-board-container .new-board-action, .list.layer.tile.cols.new-board-container[data-creating="true"] textarea {
  width: 100%;
}

.list .actions {
  padding: 7px 14px 7px 14px;
}

.list .edit-board-title {
  line-height: 26px;
  float: left;
  padding: 0 5px;
}

.list .edit-board-title .list-title {
  font-size: 20px;
}

.new-board-container, .new-task-container {
  cursor: pointer;
}

.row.action.board textarea {
  resize: vertical;
  margin-bottom: 5px;
  border: 1px solid #cecece;
}

.new-board-container .row {
  margin: 0;
}

a.new-board-action {
  font-size: 16px;
}

