<template name="boards">
	<div id="lists" class="row">
		<!-- {{#momentum plugin='growl'}} -->
			{{#each boards}}
				{{> _boardItem}}
			{{/each}}
		<div class="list layer tile cols new-board-container" data-creating={{boardCreating}}>
				{{#if boardCreating}}
					<div>
						<div class="input-group board-title-editor">
	  					<input class="board-title form-control" type="text" value="{{title}}">
						</div>
						<div class="action-box ctrl-box pull-right">
							<span class="ok-action">Save</span>
							<span class="cancel-action text-danger">Cancel</span>
						</div>
					</div>
					<!-- <div class="action-box content-box new-board-action">
						<label>Board title:</label>
						<textarea class="board-title" rows="1"></textarea>
					</div>
					<div class="action-box ctrl-box pull-right">
						<i class="fa fa-floppy-o new-board-ok-action"></i>
						<i class="fa fa-times new-board-cancel-action"></i>
					</div> -->
				{{else}}
					<div class="">
						<span class="new-board-action list-title">New board</span>
					</div>
				{{/if}}
		</div>
		<!-- {{/momentum}} -->
	</div>
</template>

<!-- 						<div class="col-xs-1 action-box complete-box">
							{{#if boardCreating}}
								<i class="fa fa-check-circle-o fa-2x new-board-ok-action"></i>
							{{/if}}
						</div>
						<div class="col-xs-10 action-box content-box">
							{{#if boardCreating}}
								<textarea rows="1"></textarea>
							{{else}}
								<a class="new-board-action">Add a board...</a>
							{{/if}}
						</div>
						<div class="col-xs-1 action-box delete-box">
							{{#if boardCreating}}
								<i class="fa fa-times-circle-o fa-lg new-board-cancel-action"></i>
							{{/if}}
						</div> -->