<template name="Stripe">
  <style>
    .stripe-line {
      width: {{lineWidth}};
    }

    @keyframes stretch {
      from {
        width: 0;
      }
      to {
        width: {{lineWidth}};
      }
    }

    .stripe-line {
      animation-name: stretch;
      animation-duration: 1s;
    }
  </style>
  <div class="stripe">
    {{#each colors}}
      {{collapseStripe}}
      <div class="stripe-line" style="background-color: {{boardColor}}; height: 50px; padding: 10px 10px">{{boardName}}</div>
    {{/each}}
  </div>
</template>