.stripe {
  color: white;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.stripe > .stripe-line {
  float: left;
  font-size: 20px;
  height: 2px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  transition: width 1s ease, height .3s ease, padding .3s ease;
  -moz-transition: width 1s ease, height .3s ease, padding .3s ease;
  -o-transition: width 1s ease, height .3s ease, padding .3s ease;
  -webkit-transition: width 1s ease, height .3s ease, padding .3s ease;
  white-space: nowrap;
}

.stripe:hover {
  z-index: 3;
}

.stripe:hover > .stripe-line {
  height: 50px;
  padding: 10px 10px;
}

.navbar.navbar-default {
  margin-top: -50px;
}

.collapse.navbar-collapse.pull-right, .navbar.navbar-default .navbar-header {
  height: 50px;
  z-index: 2;
}
