/*.modal {
  display: block;
  margin: auto;
  width: initial;
  background-color: transparent;
}*/

.modal {
  margin: auto;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.modal-body {
  position: relative;
  padding: 15px;
  overflow: visible;
  min-height: 250px;
}

.modal-dialog {
  z-index: 1060;
  width: 100%;
  display: inline;
  min-height: 300px;
}

.date input {
  height: initial;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom {
  z-index: 99999999 !important;
}

.bootstrap-datetimepicker-widget table td{
  border-color: transparent !important;
}