.modal {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: auto;
  padding: 0;
}

.modal-body {
  min-height: 250px;
  overflow: visible;
  padding: 15px;
  position: relative;
}

.modal-dialog {
  display: inline;
  min-height: 300px;
  width: 100%;
  z-index: 1060;
}

.date input {
  height: initial;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom {
  z-index: 99999999 !important;
}

.bootstrap-datetimepicker-widget table td {
  border-color: transparent !important;
}

button.clear {
  background-color: transparent;
}

.modal.light.new-chip.in {
  background-color: rgba(70, 70, 70, 0.7);
}

form.new-chip .bootstrap-select.btn-group {
  width: 100% !important;
  display: block;
  height: 30px;
}

form.new-chip .bootstrap-select.btn-group button {
  width: 100%;
  height: inherit;
}

.modal.light.new-chip.in label {
  color: white;
  font-weight: 200;
  font-size: 15px;
}