.list.layer.tile.cols.nested {
  background-color: inherit;
  border-top: 5px solid;
}

.list.nested .action-row.list-title-row, .list.nested .edit-board-title {
	line-height: 15px;
	min-height: 0;
	background-color: inherit;
}

.list.nested span.list-title {
  font-size: 15px;
  color: #2B2B2B;
}

.list.layer.tile.cols.nested .project-picker {
    background-color: #333333;
}