a.action-title.action-edit.description {
  font-size: 13px;
  font-family: sans-serif;
	display: block;
}

.ui-sortable > .task > .action-box.ctrl-box{
  padding: 0;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.new-task-container .action-box.ctrl-box, .new-board-container .action-box.ctrl-box{
  margin-top: 0;
  padding: 0 10px;
  display: block;
}

.ctrl-box i.fa.edit-ok-action:hover {
  color: #03F;
}

.ctrl-box i.fa.edit-cancel-action:hover{
  color: red;
}

.row.action.board {
  color: #8F8F8F;
  border-bottom: 1px dashed black;
  border-color: inherit;
}

.row.action.board:hover {
  color: #000000;
  background-color: #fff;
}

.new-task-container:hover {
	
}

a.show-description {
  margin-left: 5px;
}

.priority-container.edit {
  left: 0;
}

.task .fa-clock-o {
  position: absolute;
  top: 5px;
  right: 12px;
  font-size: 20px;
  color: #838383;
  opacity: 0.8;
}

.task .fa-clock-o.stop-timer {
  color: red;
}

.task .fa-clock-o:hover {
  opacity: 1;
}