<template name="_taskItem">
	<div class="row action">
		<div class="handles handle ui-sortable-handle">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-1 action-box complete-box">
						{{#if taskEditing}}
							<i class="fa fa-floppy-o edit-ok-action"></i>
						{{else}}
							{{#if completed}}
								<i class="fa fa-check complete-action"></i>
							{{else}}
								<i class="fa fa-circle-thin complete-action"></i>
							{{/if}}
						{{/if}}
					</div>
					
					<!-- editable title -->
					<div class="col-xs-10 action-box content-box">
						{{#if taskEditing}}
							<textarea rows="auto">{{text}}</textarea>
						{{else}}
							<a class="action-title action-edit">
								{{text}}
							</a>
						{{/if}}
					</div>
					<div class="col-xs-1 delete-box">
						{{#if taskEditing}}
							<i class="fa fa-times edit-cancel-action"></i>
						{{else}}
							<i class="fa fa-minus delete-action"></i>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
</template>