/*.task-list {
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}*/

a.action-title.action-edit.description {
  display: block;
  font-family: sans-serif;
  font-size: 13px;
}

.ui-sortable > .task > .action-box.ctrl-box {
  bottom: 5px;
  padding: 0;
  position: absolute;
  right: 5px;
}

.new-task-container .action-box.ctrl-box, .new-board-container .action-box.ctrl-box {
  display: block;
  margin-top: 0;
}

.ctrl-box i.fa.edit-ok-action:hover {
  color: #03F;
}

.ctrl-box i.fa.edit-cancel-action:hover {
  color: red;
}

.row.action.board {
  border-bottom: 1px dashed black;
  color: #8F8F8F;
}

.row.action.board:hover {
  background-color: #fff;
  color: #000000;
}

a.show-description {
  margin-left: 5px;
}

.task > .fa {
  color: #838383;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  right: 12px;
  top: 5px;
  padding: 0 2px 0 0;
  margin-right: -2px;
}

.task .fa.stop-timer {
  color: red;
}

.task > .fa:hover {
  opacity: 1;
}

.task:hover .delete-action {
  display: block;
}

.task .delete-action {
  color: #838383;
  cursor: pointer;
  display: none;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  right: 6px;
  top: 5px;
}

.row.task.action .action-box.content-box {
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.action-title.title.action-edit {
  white-space: nowrap;
}

.edit {
  padding: 10px 3px 0 3px;
}