<template name="backlog">
  <div id="{{backlogBoard._id}}" class="list layer tile cols backlog {{#if backlogExpanded}}expanded{{/if}}">
    <button class="show-backlog">
      {{#if backlogExpanded}}
        <i class="fa fa-times"></i>
      {{else}}
        <i class="fa fa-inbox"></i>
      {{/if}}
    </button>
    <div class="action-row list-title-row">
      <div class="toggle-list edit-board-title">
        <span class="list-title">Inbox</span>
      </div>
      <div class="board-ctrl pull-right">
        {{#if currentUser.toggl}}
          <label class="btn btn-primary btn-xs dropdown project-picker">
                <span id="toggl-project" class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                  <i class="fa fa-caret-down"></i>
                  Toggl project
                </span>
            <ul class="dropdown-menu" role="menu" aria-labelledby="toggl-project">
              {{#each togglProjects}}
                <li role="presentation" class="toggl-project-item {{#if isCurrentProject .. id }}current{{/if}}">{{name}}</li>
              {{/each}}
            </ul>
          </label>
        {{/if}}

        <label class="priority-switch-label btn btn-primary btn-xs {{#if config.sortByPriority}}active{{/if}}">
          Priority sort
        </label>

        <label class="show-archieved btn btn-primary btn-xs {{#if config.showArchieved}}active{{/if}}">
          Archived
        </label>
      </div>
    </div>
    <div class="board-body">
      <div class="actions collapse in ui-sortable">
        <div class="task-list">
          {{#each tasks}}
            {{> _taskItem}}
          {{else}}
            <p class="placeholder">No tasks...</p>
          {{/each}}
        </div>
      </div>
      <div class="action new-task-container">
        <a class="new-task-action btn btn-success btn-sm pull-right">
          <div class="new-task-action-wrapper">
            New task...
          </div>
        </a>
      </div>
    </div>
  </div>
</template>