#lists > div.list.backlog, div.list.backlog {
  bottom: 0;
  box-shadow: 2px 0 20px #101010;
  height: 100vh;
  margin-right: -30%;
  position: fixed;
  right: 0;
  top: 0;
  transition: margin-right 0.5s ease;
  -moz-transition: margin-right 0.5s ease;
  -o-transition: margin-right 0.5s ease;
  -webkit-transition: margin-right 0.5s ease;
  width: 30%;
  z-index: 10002;
}

#lists > div.list.backlog .board-ctrl > *, div.list.backlog .board-ctrl > * {
  margin: 0;
  /*padding: 0 5px 0 0;*/
}

#lists > div.list.backlog .list-title-row, div.list.backlog .list-title-row {
  background-color: #444D4A;
}

#lists > div.list.backlog .board-ctrl *, div.list.backlog .board-ctrl * {
  font-weight: 400;
}

#lists > div.list.backlog.expanded, div.list.backlog.expanded {
  margin-right: 0;
}

.backlog button.show-backlog {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  bottom: 10px;
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.32);
  height: 50px;
  left: 0;
  margin-left: -60px;
  opacity: 0.8;
  outline: none;
  position: absolute;
  width: 50px;
}

.backlog button.show-backlog:hover, .backlog.expanded button.show-backlog:hover {
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.42);
  opacity: 1;
}

.backlog.expanded button.show-backlog {
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.38);
  opacity: 0.9
}

.backlog .list-title-row label.btn {
  padding: 0 5px;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  #lists > div.list.backlog, div.list.backlog {
    margin-right: -50%;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  #lists > div.list.backlog, div.list.backlog {
    margin-right: -70%;
    width: 70%;
  }
}