/*footer.footer {
	position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

footer.footer nav.navbar.navbar-default {
  border: none;
  margin: 0;
  height: inherit;
  padding: 0;
}

footer.footer ul.nav.navbar-nav {
  float: none;
  height: inherit;
}

footer > nav > .container-fluid {
	background-color: #eee;
}*/