<template name="home">
{{> sAlert}}
<header class="landing">
  <div class="video">
    <video preload="auto" class="landing-video" poster="/images/posters/boards.png">
      <source src="/videos/landing_video.mp4" type='video/mp4'/>
    </video>
    {{#if canPlay}}
        <div class="controlls {{#if playing}}secondary{{/if}}">
        {{#if playing}}
          <button class="btn btn-default pause"><i class="fa fa-pause"></i></button>
        {{else}}
          Watch the video
          <button class="btn btn-default play"><i class="fa fa-play-circle-o"></i></button>
          or
        {{/if}}
          <button class="btn btn-primary get-started">START NOW</button>
        </div>
        {{#unless playing}}
          <div class="arrow bounce scroll-to-content">Scroll down to read more...<!-- <i class="fa fa-arrow-down"></i> --></div>
        {{/unless}}
    {{/if}}
      <div class="content">
        <h1><i class="fa fa-check-square-o"></i> Get it Done</h1>
        <div class="pull-right">
          <h3>Organize your time now!</h3>
          <button class="btn btn-primary get-started">GET STARTED</button>
        </div>
      </div>
  </div>
</header>
<div class="landing content">
  <header>
    <h1>Features:</h1>
  </header>
  <article>
    <div class="container">
      <header >
        <h2>Boards</h2>    
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto" poster="/images/posters/boards.png">
            <source src="/videos/boards.mp4" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Create boards to store tasks in different categories.
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Inbox</h2>   
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto"  poster="/images/posters/inbox.png">
            <source src="/videos/inbox.mp4" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Keep your unstructured task in Inbox.
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>High priority</h2>   
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto" poster="/images/posters/high_priority.png">
            <source src="/videos/high_priority.mp4" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Keep mind in aoutopilot doing high priority tasks.
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Scheduler</h2>    
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto" poster="/images/posters/scheduler.png">
            <source src="/videos/scheduler.mp4" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
           Plan your day by boards or activities.
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Time tracking with Toggl</h2>     
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto"  poster="/images/posters/toggl.png">
            <source src="/videos/toggl.mp4" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Use toggl to track your time.
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Google Calendar integration</h2>   
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto"  poster="/images/posters/gc.png">
            <source src="/videos/gc.mp4" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Import your google calendar events.
        </p>
      </div>
    </div>
  </article>
  <div class="container">
    <article class="subscribe">
      <header>
        <h2>Subscribe to updates</h2>   
      </header>
      <div id="subscribe" class="container col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <input type="email" class="form-control" id="email" placeholder="your@email.com">
        <button class="btn btn-primary submit">Subscribe {{#if showSpinner}}{{> spinner}}{{/if}}</button>
      </div>
    </article>
  </div>
</div>
<footer class="landing">
  <div class="container">
    <div class="row">
      <p>Made with <i class="fa fa-heart-o"></i> by <a href="http://jssolutionsdev.com/" title="JSSolutions">JSSolutions</a></p>
    </div>
  </div>
</footer>
</template>

