<template name="home">
{{> sAlert}}
<header class="landing">
  <div class="video">
    <video preload="auto" class="landing-video">
      <source src="/videos/landing_video.mov" type='video/mp4' />
<!--       <source src="/videos/landing-video.mov" type='video/webm' />
      <source src="/videos/landing-video.mov" type='video/ogg' /> -->
      <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
    {{#if canPlay}}
        <div class="controlls {{#if playing}}secondary{{/if}}">
        {{#if playing}}
          <button class="btn btn-default pause"><i class="fa fa-pause"></i></button>
        {{else}}
          Watch the wideo
          <button class="btn btn-default play"><i class="fa fa-play-circle-o"></i></button>
          or
        {{/if}}
          <button class="btn btn-primary get-started">START NOW</button>
        </div>
        {{#unless playing}}
          <div class="arrow bounce scroll-to-content">Scroll down to read more...<!-- <i class="fa fa-arrow-down"></i> --></div>
        {{/unless}}
    {{/if}}
      <div class="content">
        <h1><i class="fa fa-check-square-o"></i> Get it Done</h1>
        <div class="pull-right">
          <h3>Organize your time now!</h3>
          <button class="btn btn-primary get-started">GET STARTED</button>
        </div>
      </div>
  </div>
</header>
<div class="landing content">
  <header>
    <h1>Features:</h1>
  </header>
  <article>
    <div class="container">
      <header >
        <h2>Boards</h2>    
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto" poster="/images/posters/boards.png">
            <source src="/videos/boards.mov" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Inbox</h2>   
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto"  poster="/images/posters/inbox.png">
            <source src="/videos/inbox.mov" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>High priority</h2>   
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto" poster="/images/posters/high_priority.png">
            <source src="/videos/high_priority.mov" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Scheduler</h2>    
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto" poster="/images/posters/scheduler.png">
            <source src="/videos/scheduler.mov" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Time tracking with Toggl</h2>     
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto"  poster="/images/posters/toggl.png">
            <source src="/videos/toggl.mov" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </article>
  <article>
    <div class="container">
      <header>
        <h2>Google Calendar integration</h2>   
      </header>
      <div class="row">
        <aside class="col-lg-4 col-md-5 col-sm-6">
          <video preload="auto"  poster="/images/posters/gc.png">
            <source src="/videos/gc.mov" type='video/mp4' />
            <p>To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
          </video>
        </aside>
        <p class="col-lg-8 col-md-7 col-sm-6">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </div>
  </article>
  <div class="container">
    <article class="subscribe">
      <header>
        <h2>Subscribe to updates</h2>   
      </header>
      <div id="subscribe" class="container col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <input type="email" class="form-control" id="email" placeholder="your@email.com">
        <button class="btn btn-primary submit">Subscribe</button>
      </div>
    </article>
  </div>
</div>
<footer class="landing">
  <div class="container">
    <div class="row">
      <p>Made with <i class="fa fa-heart-o"></i> by <a href="http://jssolutionsdev.com/" title="JSSolutions">JSSolutions</a></p>
    </div>
  </div>
</footer>
</template>

