.list, #lists .sortable-placeholder {
  min-width: 30%;
  position: relative;
  background-color: #EEE;
}

#lists .sortable-placeholder {
  margin: 5px 0;
  border: none;
  min-width: 0px;
  background-color: #ddd;
  border-radius: 3px;
}

#lists.row.ui-sortable > .sortable-placeholder {
  min-width: 300px;
}

.list .container {
  padding-bottom: 5px;
}

.task-list {
  min-height: 62px;
}

.creator {
  height: 50px;
  min-height: 50px;
  padding: 10px;
  background: aliceblue;
}

.list * {
  border-color: inherit;
}

.list:nth-of-type(odd) {
  background-color: rgb(240, 240, 240);
}

.list:nth-of-type(even) {
  background-color: rgb(247, 247, 247);
}

.list.layer.tile.cols.new-board-container {
  background-color: rgb(252, 252, 252);
  padding: 10px 15px;
  position: relative;
  margin: 0;
  border-radius: 5px;
  line-height: 30px;
  border: 2px dashed #E8E8E8;
}

.actions {
  padding: 3px;
  overflow: visible;
}

.action {
  padding: 7px 7px 14px 7px;
  min-height: 27px;
  margin: 0 0 7px 0;
  border-color: inherit;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 0;
  z-index: 0;
}

.dropdown.color-picker a span.caret {
  color: white;
}

.action.new-task-container {
  padding: 0;
  margin: 0;
  border-color: transparent;
  background: none;
}

.action-box.ctrl-box {
  padding: 0 10px;
}

.action-box.content-box.new-task-action textarea, .action-box.content-box.action-edit textarea {
  width: 100%;
  border: 1px solid #DEDEDE;
  resize:vertical;
}

.action-box.content-box.new-task-action {
  margin-bottom: 4px;
}

.action-box.content-box.new-task-action:hover textarea {
  width: 100%;
  border: 1px solid #9C9C9C;
}

.action.board.list.new-board-container {
  border: none;
  background-color: transparent;
  height: 50px;
  padding: 0;
}

.action-box.content-box.new-task-action label {
  margin-top: 10px;
}

.action-box i, .action-box a {
  cursor: pointer;
  opacity: 0.8;
}

.new-board-container .col-xs-12 {
  background-color: aliceblue;
  padding: 10px 25px;
  position: relative;
  margin: 0;
  border-radius: 5px;
}

a.action-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #141414;
  font-size: 100%;
  line-height: 22px;
  word-break: break-word;
}

.action-row.list-title-row * {
  color: white;
}

.board-ctrl.pull-right {
  position: relative;
  padding: 0;
  display: inline-flex;
  margin-left: auto;
  margin-right: 5px;
}

.board-ctrl.pull-right > * {
  margin-left: 10px;
}

.delete-box {
  padding-right: 1px;
  padding-left: 0;
  line-height: 2em;
  font-size: 20px;
  color: transparent;
}

.action:hover .delete-box {
  color: #777;
}

.delete-box i:hover {
  color: red;
}

.ctrl-box {
  font-size: 14px;
}

.new-task-container .ctrl-box {
  margin-right: -10px;
  padding-top: 2px;
}

.priority-container {
  margin-top: 4px;
  position: relative;
  display: inline-block;
}

a.color-picker {
  margin-top: 5px;
  color: #565656;
}

.color-picker .dropdown-menu li{
  display: inline-block;
}

.dropdown.color-picker .caret {
  margin-top: 0px;
  margin-left: 5px;
}

.dropdown.color-picker a {
  color: white;
  opacity: 0.8;
}

.dropdown.color-picker:hover a {
  color: white !important;
  opacity: 1;
  text-decoration: underline;
}

.color-picker .dropdown-menu li span {
  height: 25px;
  background: rgb(77, 195, 255);
  width: 25px;
  display: inline-block;
}

.color-picker.open>.dropdown-menu {
  padding: 7px 6px 9px 8px;
}

.board-menu.open ul.dropdown-menu {
  height: inherit;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 5px;
}

.board-menu.open ul.dropdown-menu * {
  border-color: initial;
  width: 100%;
}

.ctrl-box > * {
  margin-right: 5px;
  text-transform: uppercase;
}

.ctrl-box i.fa {
  margin-right: 10px;
}

.complete-box {
  padding-left: 0;
  padding-top: 2px;
}

.complete-box i {
  font-size: 20px;
}

.complete-box:hover i{
  /*color: #333;*/
  opacity: 1;
}

.list.layer.tile.cols {
  display: table;
}

.list.layer.tile.cols.new-board-container {
  margin: 0;
  padding: 0;
  border: none;
}

.complete-box i {
  color: #646464;
}

.action.board-row.list-title-row {
    position: relative;
}


.action.board-row.list-title-row {
  position: relative;
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.cols {
  width: 300px;
}

span.board-header, .list-title-row {
  height: 40px;
  width: 100%;
}

.action-row.list-title-row {
  left: 14px;
  padding: 5px;
  line-height: 28px;
}

.action-row.list-title-row * {
  color: white;
}

a.new-task-action {
  font-size: 14px;
  line-height: 20px;
}

.new-task-container[data-creating="true"] {
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  width: 100%;
}

.new-task-container[data-creating="true"] .complete-box {
  padding-top: 5px;
}

hr {
  margin: 5px 0px;
  border-style: dashed;
  opacity: 0.3;
}

.input-group.board-title-editor > * {
  height: 100%;
}

input.board-title.form-control {
  margin-left: -5px;
}


select#priority-chooser {
  width: 100px;
  border: 1px solid #CECECE;
  height: 27px;
}

.priority-container label {
  vertical-align: middle;
}

span.priority {
  font-family: sans-serif;
  font-size: 8px;
  color: white;
  border-radius: 4px;
  padding: 2px;
  margin-left: -2px;
}

span.priority.LOW {
  /*background-color: #21B24B;*/
  color: #21B24B;
}

span.priority.MED {
  /*background-color: #FDB813;*/
  color: #FDB813;
}

span.priority.HIGH {
  /*background-color: #ED1B24;*/
  color: #ED1B24;
}


input.board-title {
  background-color: rgba(255,255,255,0.3);
}

.dropdown.color-picker {
  margin-right: 12px;
}

i.fa.fa-caret-down {
  position: absolute;
  top: 5px;
  right: 0;
  margin-right: -12px;
}

.sortable-placeholder {
  background-color: #ddd;
  border-radius: 3px;
  margin: 7px 0;
}

.ui-sortable-helper {
  transform: rotate(-2deg);
}

.board-title-editor {
  float: left;
}

.board-body {
  padding: 7px 14px 7px 14px;
}