<template name="_boardItem">
  <div id="{{_id}}" class="container-fluid list layer tile cols board">
   <div class="row action-row list-title-row" style="background-color: {{colorByKey config.bgColor}};">
     {{#if boardEditing}}
     <div class="board-title-editor col-md-7">
       <input class="board-title" type="text" value="{{title}}">
     </div>
     {{else}}
     <div class="toggle-list edit-board-title col-md-7">
       <span class="list-title">
        {{title}}
      </span>
    </div>
    {{/if}}
    <div class="board-ctrl col-md-5">
      <div class="dropdown color-picker">
        <a id="color-chooser" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="	false">
          Color
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="color-chooser">
          {{#each colors}}
            <li role="presentation" class="color" data-color="{{_index}}"><span style="background: {{color}}"></span></li>
          {{/each}}
        </ul>
     </div>
     <div class="dropdown board-menu">
       <a id="board-menu" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="	false">
         <i class="fa fa-cogs"></i>
       </a>
       <ul class="dropdown-menu" role="menu" aria-labelledby="board-menu">
         <li role="presentation"><button class="btn btn-danger delete-board">Delete board</button></li>
         <li role="presentation"><button class="btn btn-primary sort-by-priority">Sort by priority</button></li>
       </ul>
     </div>
   </div>
 </div>
 <div class="board-body">
  <div class="actions collapse in ui-sortable">
    <div class="task-list">
      {{#each tasks}}
      {{> _taskItem}}
      {{else}}
      <p class="placeholder">No tasks...</p>
      {{/each}}
    </div>
  </div>
  <div class="action new-task-container" data-creating={{taskCreating}}>

   {{#if taskCreating}}
   <div class="action-box content-box new-task-action">
    <!-- <label>Task title:</label> -->
    <textarea class="title" rows="1"></textarea>
    								<!-- <label>Task description:</label>
    								<textarea class="description" rows="auto">{{description}}</textarea> -->
                  </div>
    						<!-- <div class="priority-container">
    							<label>Priority:</label>
    							<select value="{{priority}}" name="priority-chooser" id="priority-chooser">
    								<option value="0" style="background-color: #21B24B; color: white;">Low</option>
    								<option value="1" style="background-color: #FDB813; color: white;">Medium</option>
    								<option value="2" style="background-color: #ED1B24; color: white;">High</option>
    							</select>
    						</div> -->
    						<div class="action-box ctrl-box pull-right">
    							<span class="ok-action">Save</span>
    							<span class="cancel-action text-danger">Cancel</span>
    						</div>
               {{else}}
               <div class="new-task-action-wrapper">
                 <a class="new-task-action">New task...</a>
               </div>
               {{/if}}

             </div>
           </div>
         </div>
       </template>
