.action {
  padding: 5px 15px 0px 5px !important;
  min-height: 36px !important;
  border: 1px solid transparent !important;
  border-bottom: 1px dashed inherit !important;
  /*border-color: inherit; !important;*/
  border-radius: 3px !important;
  transition: width 0.4s ease !important;
  -webkit-transition: width 0.4s ease !important;
  -moz-transition: width 0.4s ease !important;
  -o-transition: width 0.4s ease !important;
}

.actions {
  overflow: visible;
}

a.action-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  color: #141414 !important;
  font-size: 100% !important;
  line-height: 22px !important;
  word-wrap: break-word !important;
  word-break: break-all !important;
}

.delete-box {
  padding-right: 1px;
  padding-left: 0;
  line-height: 2em;
  font-size: 20px;
}

.ctrl-box {
  width: auto;
  font-size: 20px;
  position: relative;
  padding: 5px 0 !important;
}

.ctrl-box > * {
  /*display: block;*/
}

.ctrl-box i.fa {
  margin-right: 10px;
}

.ctrl-box i.fa.ok-action:hover {
  color: #03F;
}

.ctrl-box i.fa.cancel-action:hover{
  color: red;
}

.complete-box {
  padding-left: 0 !important;
  padding-top: 2px;
}

.complete-box i {
  font-size: 20px !important;
}

.complete-box:hover i{
  /*color: #333 !important;*/
  opacity: 1;
}

.ui-sortable-helper {
  z-index: 1050 !important;
}

.row.action.list.new-board-container {
  border: none;
  background-color: transparent;
  height: 50px;
  padding: 0;
}

.action-box i, .action-box a {
  cursor: pointer;
  opacity: 0.8;
}

.new-board-container .col-xs-12 {
  background-color: aliceblue;
  padding: 10px 25px;
  position: relative;
  margin: 0;
  border-radius: 5px;
}

.list.layer.tile.cols {
  display: table !important;
}

.list.layer.tile.cols.new-board-container {
  margin: 0;
  padding: 0;
  border: none;
}

a.color-picker {
  margin-top: 5px;
  color: #565656;
}

.complete-box i {
  color: #646464 !important;
}

.row.action-row.list-title-row {
    position: relative;
}

.color-picker, .board-menu {
  display: inline;
  width: 50px;
  position: absolute;
  top: 5px;
}

.color-picker {
  right: 35px;
}

.board-menu {
  right: 5px
}

.board-menu a i {
  color: white;
  opacity: 0.8;
}

.board-menu:hover a i {
  color: white;
  opacity: 1;
}

.row.action-row.list-title-row {
  position: relative;
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.cols {
  width: 300px !important;
}

span.board-header {
  height: 40px;
  width: 298px;
  position: absolute;
  top: 1;
  left: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.row.action-row.list-title-row .list-title {
  color: white;
}

a.new-task-action {
  font-size: 18px;
  line-height: 23px;
}

.new-task-container[data-creating="true"] {
  padding: 5px 0 !important;
}

.new-task-container[data-creating="true"] .complete-box {
  padding-top: 5px;
}

hr {
  margin: 5px 0px !important;
  border-style: dashed !important;
  opacity: 0.3 !important;
}

.color-picker .dropdown-menu li{
  display: inline-block;
}

.dropdown.color-picker {
  position: absolute;
  top: 10px;
}

.dropdown.color-picker .caret {
  margin-top: 0px;
  margin-left: 5px;
}

.dropdown.color-picker a {
  color: white;
  opacity: 0.8;
}

.dropdown.color-picker:hover a {
  color: white !important;
  opacity: 1;
  text-decoration: underline;
}

.color-picker .dropdown-menu li span {
  height: 25px;
  background: rgb(77, 195, 255);
  width: 25px;
  display: inline-block;
}

.color-picker.open>.dropdown-menu {
  position: relative;
  display: block;
  padding: 9px 9px 4px 9px;
}

.board-menu button.btn {
  width: 90%;
  margin: 0 5%;
}

.input-group.board-title-editor {
  position: absolute !important;
  left: 0 !important;
  top: 0;
  margin-left: -5px;
  height: 100% !important;
  width: 81% !important;
}

.input-group.board-title-editor > * {
  height: 100% !important;
}

input.board-title.form-control {
  margin-left: -5px !important;
}

.priority-container {
  position: absolute;
  bottom: 7px;
  left: 15px;
}

select#priority-chooser {
  width: 100px;
  border: 1px solid #CECECE;
  height: 27px;
  margin-left: 3px;
}

.priority-container label {
  vertical-align: super;
}

span.priority {
  font-family: sans-serif;
  font-size: 8px;
  color: white;
  border-radius: 4px;
  padding: 2px;
  margin-left: -2px;
}

span.priority.LOW {
  /*background-color: #21B24B;*/
  color: #21B24B;
}

span.priority.MED {
  /*background-color: #FDB813;*/
  color: #FDB813;
}

span.priority.HIGH {
  /*background-color: #ED1B24;*/
  color: #ED1B24;
}