.list, #lists .sortable-placeholder {
  background-color: #EEE;
  min-width: 30%;
  position: relative;
}

.list p.placeholder {
  color: rgb(203, 203, 203);
  line-height: 60px;
  text-align: center;
}

.ui-sortable-helper {
  transform: rotate(-2deg);
}

#lists .sortable-placeholder {
  background-color: #ddd;
  border: none;
  margin: 0 0 7px 0;
}

#lists.row.ui-sortable > .sortable-placeholder {
  min-width: 300px;
}

#lists.row.ui-sortable > .ui-sortable-helper {
  margin-top: 5px;
}

.list .container {
  padding-bottom: 5px;
}

.task-list {
  min-height: 62px;
}

.creator {
  background: aliceblue;
  height: 50px;
  min-height: 50px;
  padding: 10px;
}

.list * {
  border-color: inherit;
}

.list:nth-of-type(odd) {
  background-color: rgb(240, 240, 240);
}

.list:nth-of-type(even) {
  background-color: rgb(247, 247, 247);
}

.list.layer.tile.cols.new-board-container {
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  line-height: 30px;
  margin: 0;
  padding: 10px 15px;
  position: relative;
}

.actions {
  overflow: visible;
  padding: 3px 3px 37px;
}

.action {
  border-bottom: 1px solid #E0E0E0;
  border-radius: 0;
  margin: 0 0 7px 0;
  min-height: 27px;
  padding: 7px 7px 14px 7px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.dropdown.color-picker a span.caret {
  color: white;
}

.action.new-task-container {
  background: inherit;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px 18px;
  position: absolute;
  right: 0;
}

.action-box.ctrl-box {
  padding: 0 10px;
}

.new-board-container .action-box.ctrl-box {
  padding: 0;
}

.action-box.content-box.new-task-action textarea, .action-box.content-box.action-edit textarea,
.action-box.content-box.new-task-action input, .action-box.content-box.action-edit input {
  border: 1px solid #DEDEDE;
  resize: vertical;
  width: 100%;
}

.action-box.content-box.new-task-action {
  margin-bottom: 4px;
  padding: 0 10px;
}

.action-box.content-box.new-task-action:hover textarea, .action-box.content-box.new-task-action:hover input {
  border: 1px solid #9C9C9C;
  width: 100%;
}

.action-box.content-box.new-task-action input {
  padding: 4px 6px;
}

.action.board.list.new-board-container {
  background-color: transparent;
  border: none;
  height: 50px;
  padding: 0;
}

.action-box.content-box.new-task-action label {
  margin-top: 10px;
}

.action-box i, .action-box a {
  cursor: pointer;
  opacity: 0.8;
}

.new-board-container .col-xs-12 {
  background-color: aliceblue;
  border-radius: 5px;
  margin: 0;
  padding: 10px 25px;
  position: relative;
}

a.action-title {
  color: #141414;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 22px;
  word-break: break-all;
}

.action-row.list-title-row * {
  color: white;
}

.list-title-row > div {
  display: inline-block;
}

.board-ctrl {
  text-align: right;
}

.board-ctrl > * {
  display: inline-block;
}

.board-ctrl label {
  background-color: transparent;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  line-height: 28px;
}

.board-ctrl label:hover, .board-ctrl label.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.delete-box {
  bottom: 0;
  color: transparent;
  font-size: 19px;
  line-height: 1em;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 1px;
}

.action:hover .delete-box {
  color: #777;
}

.delete-box i:hover {
  color: red;
}

.ctrl-box {
  font-size: 14px;
}

.new-task-container .ctrl-box {
  margin-right: -10px;
  padding-top: 2px;
}

textarea {
  resize: none !important;
}

input.title {
  margin-bottom: 10px;
}

a.color-picker {
  color: #565656;
  margin-top: 5px;
}

.color-picker .dropdown-menu li {
  display: inline-block;
}

.dropdown.color-picker .caret {
  margin-left: 5px;
  margin-top: 0;
}

.dropdown.color-picker a, .project-picker a, .checkbox-label {
  color: white;
  opacity: 0.8;
}

.dropdown.color-picker:hover a, .project-picker:hover a, .checkbox-label:hover {
  color: white !important;
  opacity: 1;
  text-decoration: underline;
}

.color-picker .dropdown-menu li span {
  background: rgb(77, 195, 255);
  display: inline-block;
  height: 25px;
  width: 25px;
}

.color-picker.open > .dropdown-menu {
  padding: 7px 6px 0 8px;
}

.board-menu.open ul.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.92);
  height: inherit;
  padding: 5px;
}

.board-menu.open ul.dropdown-menu * {
  border-color: initial;
  width: 100%;
}

.project-picker, .show-archieved {
  margin-right: 10px;
}

.project-picker ul.dropdown-menu {
  max-height: 200px;
  overflow: auto;
  width: 200px;
}

.project-picker ul.dropdown-menu li {
  border-bottom: 1px dashed #EAEAEA;
  color: #686868;
  padding: 2px 5px;
}

.project-picker ul.dropdown-menu li:hover {
  border-bottom: 1px dashed #009FFF;
  color: #484848;
}

li.toggl-project-item.current {
  background-color: #EAEAEA;
}

li.toggl-project-item.current::after {
  content: "\f00c";
  font-style: normal;
  font-weight: normal;
  padding-right: 10px;
  position: absolute;
  right: 0;
  text-decoration: inherit;
}

.ctrl-box > * {
  margin-right: 5px;
  text-transform: uppercase;
}

.ctrl-box i.fa {
  margin-right: 10px;
}

.complete-box {
  padding-left: 0;
  padding-top: 2px;
}

.complete-box i {
  font-size: 20px;
}

.complete-box:hover i {
  /*color: #333;*/
  opacity: 1;
}

.list.layer.tile.cols {
  display: table;
}

.list.layer.tile.cols.new-board-container {
  border: none;
  margin: 0;
  padding: 0;
}

.complete-box i {
  color: #646464;
}

.action.board-row.list-title-row {
  position: relative;
}

.action.board-row.list-title-row {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 5px;
  position: relative;
}

.cols {
  width: 300px;
}

.action-row.list-title-row {
  line-height: 28px;
  min-height: 42px;
  padding: 6px;
}

.action-row.list-title-row * {
  color: white;
}

a.new-task-action {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-right: 15px;
}

.new-task-container[data-creating="true"] {
  width: 100%;
}

.new-task-container[data-creating="true"] .complete-box {
  padding-top: 5px;
}

hr {
  border-style: dashed;
  margin: 5px 0;
  opacity: 0.3;
}

.input-group.board-title-editor > * {
  height: 100%;
}

input.board-title.form-control {
  margin-left: -5px;
}

.board-title-editor input.board-title {
  height: 28px;
  margin-bottom: 0;
}

select.priority-chooser {
  border: 1px solid #CECECE;
  height: 27px;
  width: 100px;
}

.priority-container label {
  vertical-align: middle;
}

span.priority {
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  font-size: 8px;
  margin-left: -2px;
  padding: 2px;
}

span.priority.LOW {
  color: #21B24B;
}

span.priority.MED {
  color: #FDB813;
}

span.priority.HIGH {
  color: #ED1B24;
}

input.board-title, .board textarea, .board input, .board select {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
  height: initial;
}

.dropdown.color-picker {
  margin-right: 12px;
}

.board-title-editor {
  float: left;
}

.board-body {
  padding: 7px 14px 7px 14px;
}

.task-list.ui-sortable {
  max-height: calc(100vh - 195px);
  overflow-y: auto;
  overflow-wrap: normal;
}

button.btn.btn-default.sort-by-priority {
  background-color: rgba(242, 242, 242, 0.72);
  border: none;
  color: rgb(79, 79, 79);
}

.dropdown.board-menu .checkbox {
  padding: 0;
}

.dropdown.board-menu .checkbox label {
  color: black;
  text-align: center;
}

input.priority-switch-checkbox {
  margin: 0 !important;
}

.board-settings-button {
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

.board-settings-button:hover {
  opacity: .7;
}

.hidden-settings {
  display: none;
  float: left !important;
  margin-left: 10px;
}

.dropdown.board-menu {
  color: white;
  margin-right: 15px;
  opacity: 0.8;
}
