.flipswitch {
    position: relative;
    width: 117px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.flipswitch input[type=checkbox] {
    display: none;
}
.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 0px;
}
.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 13px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.flipswitch-inner:before {
    content: "Priority sort";
    padding-left: 12px;
    background-color: #858899;
    color: #FFFFFF;
}
.flipswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}
.flipswitch-switch {
    width: 24px;
    height: 24px;
    margin: 0px;
    background: #FFFFFF;
    border: 0px solid #999999;
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 91px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
}