.board.high-priority .board-body .actions, .list.nested {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: inherit;
}

.board.high-priority .list-title-row {
	background-color: #ED1B24;
}