.list.high-priority .board-body .actions, .list.nested {
  margin: 0;
  padding: 0;
  width: 100%;
}

#lists > div .list.high-priority .list-title-row, div .list.high-priority .list-title-row {
  background-color: #ED1B24;
}

#lists > div .list.high-priority .board-body, div .list.high-priority .board-body {
  overflow-y: auto;
}

#lists > .list.high-priority, .list.high-priority {
  bottom: 0;
  box-shadow: -2px 0 20px #101010;
  height: 100vh;
  left: 0;
  margin-left: -30%;
  position: fixed;
  top: 0;
  transition: margin-left 0.5s ease;
  -moz-transition: margin-left 0.5s ease;
  -o-transition: margin-left 0.5s ease;
  -webkit-transition: margin-left 0.5s ease;
  width: 30%;
  z-index: 9990;
}

#lists > div.list.high-priority .board-body, div.list.high-priority .board-body {
  height: 100%;
  overflow-y: auto;
}

#lists > div.list.high-priority .board-ctrl > *, div.list.high-priority .board-ctrl > * {
  margin: 0;
  padding: 0 0 0 5px;
}

.list.high-priority .list-title-row {
  background-color: red;
}

#lists > .list.high-priority .board-ctrl *, .list.high-priority .board-ctrl * {
  font-weight: 400;
}

#lists > .list.high-priority.expanded, .list.high-priority.expanded {
  margin-left: 0;
}

.high-priority button.show-high-priority {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  bottom: 10px;
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.32);
  color: rgba(255, 0, 0, 0.8);
  height: 50px;
  margin-right: -60px;
  opacity: 0.8;
  outline: none;
  position: absolute;
  right: 0;
  width: 50px;
}

.high-priority button.show-high-priority:hover, .high-priority.expanded button.show-high-priority:hover {
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.42);
  color: red;
  opacity: 1;
}

.high-priority.expanded button.show-high-priority {
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.38);
  color: rgba(255, 0, 0, 0.9);
  opacity: 0.9
}

@media screen and (max-width: 1024px) {
  #lists > .list.high-priority, .list.high-priority {
    margin-left: -50%;
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  #lists > .list.high-priority, .list.high-priority {
    margin-left: -70%;
    width: 70%;
  }
}