.board.high-priority .board-body .actions, .list.nested {
  margin: 0;
  padding: 0;
  width: 100%;
}

.board.high-priority .list-title-row {
	background-color: #ED1B24;
}

.board.high-priority .board-body {
	overflow-y: auto;
}