.main-container {
  background-color: #FDFDFD;
  width: 100%;
}

body, div#main, .main-container.container {
  margin: 0;
  padding: 0;
}

div#main {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
}

/*div#main:focus {
  outline: none !important;
}
*/
textarea {
  resize: vertical;
}

.button  {
  cursor: pointer;
}