.main-container {
  background-color: #FDFDFD;
  width: 100%;
}

body, div#main, .main-container.container {
  margin: 0;
  padding: 0;
  height: calc(100vh - 73px)
}

div#main {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  min-height: calc(100vh - 100px);
}

textarea {
  resize: vertical;
}

.button  {
  cursor: pointer;
}

.btn, input, textarea, select {
  border: none;
  border-radius: 0;
}