.main-container {
  background-color: #FDFDFD;
  width: 100%;
}

body, div#main, .main-container.container {
  margin: 0;
  padding: 0;
  height: calc(100vh - 73px)
}

div#main {
  width: 100%;
  padding: 0 5px;
}

textarea {
  resize: vertical;
}

.button  {
  cursor: pointer;
}