.modal-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-top: 22px;
  text-align: center;
}

.modal textarea#description {
  font-size: 24px;
}

.modal.light {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 95%;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.modal.light.in {
  background-color: transparent;
  height: 100%;
  margin: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  width: 100%;
  z-index: 9999;
  overflow: visible;
  margin-left: 0%;
  margin-right: 0%;
}

.modal.light * {
  border-radius: 0;
}

.modal.light .modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: auto;
  margin: auto;
  width: 50%;
}

.modal.light .modal-content > div, .modal.light .modal-footer {
  background-color: transparent;
  border: none;
  overflow: visible;
  height: 50px;
}

.modal.light button {
  height: 50px;
  width: 100px;
}

.modal-header element.style {
  color: rgba(193, 193, 193, 0.62);
  font-size: 50px;
  font-weight: 100;
}

ul.colors li {
  display: inline-block;
  list-style: none;
}

ul.colors li span {
  display: inline-block;
  height: 20px;
  width: 20px;
}

ul.colors {
  margin: 0;
}

.new-item.modal .modal-dialog {
  display: table;
  height: 100%;
  margin-top: 0;
  width: 60%;
}

.new-item.modal .modal-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.new-item .modal-header {
  overflow: auto;
  padding: 0 30px;
}

.new-item .modal-header .modal-title {
  color: #CCC;
  float: left;
  font-size: 50px;
  font-weight: lighter;
}

.new-item .modal-header button.btn.btn-default.clear {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #ddd;
  float: right;
  font-size: 40px;
  font-weight: 100;
  outline: none;
  padding: 0;
}

.new-item .modal-header button.btn.btn-default.clear:hover {
  color: #ED1B24;
}

.modal.new-item #board-title, .modal.new-item #title {
  background-color: transparent;
  box-shadow: none;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  line-height: 50px;
  padding-left: 15px;
}

.modal.new-item #description {
  background: transparent;
  color: white;
}

.close {
  background: url('http://i.imgur.com/rrSKEDo.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
  display: block;
  height: 75px;
  margin-top: -15px !important;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
  -moz-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
  -ms-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
  -o-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
  -webkit-transition: 0.5s cubic-bezier(.27, 1.64, .32, .95);
  width: 75px;
}

.close:hover {
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

ul.colors li span, ul.colors li.active span {
  cursor: pointer;
  height: 50px;
  transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  width: 50px;
}

ul.colors li span:hover {
  opacity: .8;
}

input#board-title::-webkit-input-placeholder {
  color: white;
}

input#board-title::-moz-placeholder {
  color: white;
}

/* Firefox 19+ */
input#board-title:-moz-placeholder {
  color: white;
}

/* Firefox 18- */
input#board-title:-ms-input-placeholder {
  color: white;
}

.board-name-title {
  color: white;
  font-size: 26px;
  margin-bottom: 10px;
  padding: 10px 15px;
}

form.new-board button.submit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  line-height: 30px;
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

form.new-board button.submit:active {
  outline: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.14);
  border: none;
}

form.new-board .form-group {
  position: relative;
}