.fc-event {
  border: none;
  box-shadow: -1px 0 7px rgba(0, 0, 0, 0.24);
  color: white;
  font-family: sans-serif;
  font-size: 11pt;
  padding: 5px;
}

.fc-event:hover * {
  color: white;
}

.fc-event:hover {
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.24);
  filter: brightness(95%);
  -ms-filter: brightness(95%);
  -webkit-filter: brightness(95%);
  -moz-filter: brightness(95%);
  -o-filter: brightness(95%);
}

.fc-left * {
  font-size: 21pt !important;
}

span.remove-event {
  background-color: rgba(37, 37, 37, 0.4);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
  height: 18px;
  line-height: 20px;
  opacity: 0.1;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 2px;
  vertical-align: middle;
  width: 18px;
  z-index: 9999;
}

.fc-event {
  border-radius: 0 !important;
  box-shadow: 0 4px 10px rgba(16, 16, 16, 0.42) !important;
}

.fc-button-group button {
  border-radius: 0 !important;
}

.fc-event:hover span.remove-event {
  opacity: 1;
}

#calendar {
  padding: 0 20px;
}

.dropdown.calendars-chooser {
  background-color: #FDFDFD;
  margin-left: calc(50% - 110px);
  margin-right: calc(50% - 110px);
  width: 220px;
}

.dropdown.calendars-chooser ul.dropdown-menu {
  padding: 10px;
  width: 220px;
}

.dropdown.calendars-chooser ul.dropdown-menu li {
  cursor: pointer;
  padding: 5px;
}

.dropdown.calendars-chooser ul.dropdown-menu li[data-active="true"] {
  background-color: #CEEEFF;
  border-radius: 2px;
  margin-top: 2px;
}

.dropdown.calendars-chooser .spinner-container {
  position: absolute;
}

.dropdown.calendars-chooser .spinner-container .spinner {
  left: 0;
  margin-left: -15px;
  top: 10px;
}

#calendar td hr {
  border: 1px solid red;
  position: absolute;
}

.event-tasks {
  opacity: .8;
}

.gc-event {
  z-index: -1 !important;
}

#calendars-chooser > div.spinner-container {
  position: absolute;
  left: 0;
  margin-left: 5px;
}

#calendars-chooser > div.spinner-container * {
  background-color: #eee !important;
}