<template name="scheduler">
    {{#unless currentUser}}
        <h1>SIGN IN PLEASE</h1>
    {{else}}
        {{> highPriorityBoard boards=boards}}
        <div class="dropdown calendars-chooser">
            <a id="calendars-chooser" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                {{#if showSpinner}}
                    {{> spinner}}
                {{/if}}
                Displayable secondary calendars
                <i class="button fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="calendars-chooser">
                {{#each calendars}}

                    <li role="presentation" class="choosable-calendar-item" data-active="{{active}}" data-id="{{id}}">
                        {{summary}}
                    </li>
                {{/each}}
            </ul>
        </div>
        <!--<select id="secondary-calendars" class="secondary-calendars" multiple>
			{{#each calendars}}
				<option value="{{id}}">{{summary}}</option>
			{{/each}}
		</select> -->
        {{>fullcalendar calendarOptions}}
        {{> backlog backlogBoard=backlogBoard}}
    {{/unless}}
</template>
