  .fc-event {
  color: white;
  box-shadow: -1px 0px 7px rgba(0, 0, 0, 0.24);
  font-family: sans-serif;
  font-size: 11pt;
  padding: 5px;
  border: none;
}

.fc-event:hover *{
  color: white;
}

.fc-event:hover {
	box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.24);
	filter: brightness(95%);
	-webkit-filter: brightness(95%);
	-moz-filter: brightness(95%);
	-o-filter: brightness(95%);
	-ms-filter: brightness(95%);
}

.fc-left * {
  font-size: 21pt !important;
}

span.remove-event {
  position: absolute;
  z-index: 99999999999999999999999999999999;
  top: 2px;
  right: 2px;
  background-color: rgba(37, 37, 37, 0.4);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17);
  opacity: 0.1;
}

.fc-event:hover span.remove-event {
  opacity: 1;
}

#calendar {
  padding: 0 20px;
}

.dropdown.calendars-chooser {
  width: 220px;
  margin-left: calc(50% - 110px);
  margin-right: calc(50% - 110px);
  background-color: #FDFDFD;
}

.dropdown.calendars-chooser ul.dropdown-menu {
  width: 220px;
  padding: 10px;
}

.dropdown.calendars-chooser ul.dropdown-menu li {
  cursor: pointer;
  padding: 5px;
}

.dropdown.calendars-chooser ul.dropdown-menu li[data-active="true"] {
  background-color: #CEEEFF;
  border-radius: 5px;
}