.priority-container {
  width: auto;
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

.priority-container .btn-group button {
  text-shadow: none;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
}

.priority-container .btn-group button:active {
  text-shadow: none;
  outline: none;
  color: white;
}

.priority-value.pv-low, .priority-value.pv-low:hover, .priority-value.pv-low:active {
  background-color: #21B24B;
}

.priority-value.pv-med, .priority-value.pv-med:hover, .priority-value.pv-med:active {
  background-color: #FDB813;
}

.priority-value.pv-hi, .priority-value.pv-hi:hover, .priority-value.pv-hi:active {
  background-color: #ED1B24;
}

/*hover*/
.priority-value.pv-low:hover, .priority-value.pv-low:active {
  background-color: #31C25B;
}

.priority-value.pv-med:hover, .priority-value.pv-med:active {
  background-color: #FFC823;
}

.priority-value.pv-hi:hover, .priority-value.pv-hi:active {
  background-color: #FD2B34;
}
/**/

.priority-value.pv-low.active, .btn.priority-value.pv-low.active:active, .btn.priority-value.pv-low.active:hover {
  background-color: #22B34D;
}

.priority-value.pv-med.active, .btn.priority-value.pv-med.active:active, .btn.priority-value.pv-med.active:hover {
  background-color: #FEB914;
}

.priority-value.pv-hi.active, .btn.priority-value.pv-hi.active:active, .btn.priority-value.pv-hi.active:hover {
  background-color: #ec1a24;
}

.priority-value.active, .priority-value.active:hover, .priority-value.active:active, .priority-value.active:focus {
  color: white;
}

#priority-chooser button {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#priority-chooser .active {
  transform: scale(1.1, 1.1);
  z-index: 3;
  box-shadow: none;
}

#priority-chooser button:focus {
  outline: 0;
}

#select-board {
  height: 32px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 0;
}