.priority-container {
  width: auto;
  position: relative;
  display: inline-block;
  padding-right: 10px;
}

.priority-container .btn-group button {
  text-shadow: none;
  outline: none;
}

.priority-container .btn-group button:active {
  text-shadow: none;
  outline: none;
}

.priority-value {
  color: white;
}

.priority-value.pv-low {
  background-color: #21B24B;
}

.priority-value.pv-med {
  background-color: #FDB813;
}

.priority-value.pv-high {
  background-color: #ED1B24;
}

.priority-value.pv-low.active {
  color: rgb(165, 237, 165);;
}

.priority-value.pv-med.active {
  color: #FCF6DA;
}

.priority-value.pv-high.active {
color: rgb(253, 170, 170);
}

.priority-value:hover {
  color: rgba(255, 255, 255, 0.69);
}

#priority-chooser button {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#priority-chooser .active {
  transform: scale(1.1, 1.1);
  z-index: 3;
}

#priority-chooser button:focus {
  outline: 0;
}

#select-board {
  height: 32px;
}