.navbar-default {
  background-color: #FFF;
  border: none;
  border-bottom: 1px solid #F0F0F0;
  color: #626262;
}

.navbar-default .navbar-nav > li > a {
  line-height: 30px;
}

#login-dropdown-list {
  position: relative;
  font-size: 10pt;
  line-height: 30pt;
}

.navbar-form {
  margin: 0;
}

.nav .navbar-form {
  float: left;
}

.nav .navbar-form button {
  margin-top: 7px;
}

.navbar-brand input {
  margin: 0;
}

.navbar-brand span {
  font-size: 11pt;
}

/*======STRIPE======*/
.stripe {
  color: white;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.stripe > .stripe-line {
  height: 2px;
  float: left;
  font-size: 20px;
  -webkit-transition: width 1s ease, height .3s ease, padding .3s ease;
  -moz-transition: width 1s ease, height .3s ease, padding .3s ease;
  -o-transition: width 1s ease, height .3s ease, padding .3s ease;
  text-align: center;
  transition: width 1s ease, height .3s ease, padding .3s ease;
}

.stripe:hover {
  z-index: 3;
}

.stripe:hover > .stripe-line{
  height: 50px;
  padding: 10px 15px;
}

@keyframes make-tall {
  from {
    height: 2px;
  }
  to {
    height: 40px;
  }
}

.navbar.navbar-default {
  margin-top: -50px;
}

.collapse.navbar-collapse.pull-right, .navbar.navbar-default .navbar-header {
  z-index: 2;
  height: 50px;
}
/*======STRIPE======*/

.navbar .nav {
  float: right;
  position: relative;
  left: 0;
  display: block;
  margin: 0 !important;
}

#login-dropdown-list .dropdown-menu {
  margin-left: -140px;
}

.navbar .nav > li > a {
  text-decoration: none;
  text-shadow: none;
}

.navbar-default .navbar-nav li a, .navbar-text {
  font-size: 11pt;
  color: #626262;
}

.navbar-default .nav i {
  vertical-align: initial;
  font-size: 12pt;
}

.navbar.navbar-default .nav > li > .dropdown-menu:after {
  right: 10px;
  left: auto;
}

.navbar.navbar-default .nav > li > .dropdown-menu:before {
  right: 9px;
  left: auto;
}

@media (max-width: 767px) {

  div#bs-example-navbar-collapse-1 {
    width: 100%;
  }

  div#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
    width: 100%;
  }

  div#bs-example-navbar-collapse-1 ul li {
    display: block;
    width: 100%;
    text-align: left;
    border-bottom: 2px solid rgb(247, 247, 247);
  }

  #login-dropdown-list .dropdown-menu {
    margin-left: auto;
    padding: 0px 0 0 30px;
  }
}