.navbar-default {
  background-color: #FFF;
  border: none;
  border-bottom: 1px solid #F0F0F0;
  color: #626262;
}

.navbar-default .navbar-nav > li > a {
  line-height: 30px;
}

#login-dropdown-list {
  font-size: 10pt;
  line-height: 30pt;
  position: relative;
}

.navbar-form {
  margin: 0;
}

.nav .navbar-form {
  float: left;
}

.nav .navbar-form button {
  margin-top: 8px;
}

.navbar-brand input {
  margin: 0;
}

.navbar-brand span {
  font-size: 11pt;
}

.navbar .nav {
  display: block;
  float: right;
  left: 0;
  margin: 0 !important;
  position: relative;
}

#login-dropdown-list .dropdown-menu {
  margin-left: -140px;
}

.navbar .nav > li > a {
  text-decoration: none;
  text-shadow: none;
}

.navbar-default .navbar-nav li a, .navbar-text {
  color: #626262;
  font-size: 11pt;
  color: #626262;
  font-size: 11pt;
  line-height: 52px;
  padding: 0 12px;
}

.navbar-default .nav i {
  font-size: 12pt;
  vertical-align: initial;
}

.navbar.navbar-default .nav > li > .dropdown-menu:after {
  left: auto;
  right: 10px;
}

.navbar.navbar-default .nav > li > .dropdown-menu:before {
  left: auto;
  right: 9px;
}

#bs-example-navbar-collapse-1 > ul > div > button {
  color: rgba(255, 255, 255, 0.9);
}

#bs-example-navbar-collapse-1 > ul > div > button:hover {
  color: white;
}

.navbar-brand {
  float: left;
  text-transform: uppercase;
  height: 50px;
  font-size: 18px;
  padding: 0px 14px;
  line-height: 52px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

@media (max-width: 768px) {

  div#bs-example-navbar-collapse-1 {
    width: 100%;
    height: inherit;
  }

  div#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
    width: 100%;
  }

  div#bs-example-navbar-collapse-1 ul li {
    border-bottom: 2px solid rgb(247, 247, 247);
    display: block;
    text-align: left;
    width: 100%;
  }

  #login-dropdown-list .dropdown-menu {
    margin-left: auto;
    padding: 0 0 0 30px;
  }
}